.jumbotron{
    background-color: aqua;
    color: white;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}
.btn{
    background-color: green;
    color:white;
}
.footer{
    background-color: blue;
    color:white;
    margin-top:10px;
    padding:10px 2px 0px 2px;
}